.humburger {
  background-color: rgb(34, 35, 36);
  color: white;
  padding: 15px 10px 0 10px;
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;

  span {
    background-color: white;
    height: 1px;
    display: block;
    margin-bottom: 7px;
    transition: 0.5s;
  }

  p {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}
